@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar Styles */
/* Add this to your global CSS file */

/* For Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 128, 128, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(193, 206, 204, 0.5);  /* teal-500 with transparency */
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(227, 231, 231, 0.5);  /* teal-600 with transparency */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(193, 206, 204, 0.5) rgba(0, 128, 128, 0.1);
}

/* For when you want no scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}